.stats-wrapper {
  position: relative;
}

.char-stats {
  display: grid;
  grid-template-columns: 1fr 2fr 20px;
  grid-template-rows: 20px repeat(1fr);
  width: 320px;
  row-gap: 10px;
  column-gap: 5px;
  justify-content: center;
  position: absolute;
  left: 30px;
  top: 20px;
  background-image: url('./assets/starry_sky.jpg');
  padding: 10px 20px;
  color: white;
  font-family: 'Century Gothic', 'Gill Sans MT';
  font-size: 15px;
  text-transform: capitalize;
}

.header {
  font-weight: bold;
  color: bisque;
  text-transform: uppercase;
}
